##
*.pyc
*~

*.pdf

**/prms_ic.out

## ipython notebook checkpoint folders
**/.ipynb_checkpoints/

venv
notebooks/jupyternb-scenario-series-example/
docs/build

**/utility_functions.ipynb
**/scripts/*.data
scripts/
dry_creek
**/dry_creek/
prms_python.egg-info

## test data
test/data/tmp_scenarios/*
test/data/models/lbcd/test-sim-dir/*
*tmp_sim*

test/data/models/lbcd/prms.out
test/data/models/lbcd/prms_ic.out
test/data/models/lbcd/statvar.dat
test/results

*animation*
